<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <h1>Autorizando...</h1>
                </Authorizing>
                <NotAuthorized>
                    <h1>User não autorizado.</h1>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <PageTitle>Não encontrado</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Não foi localizado um componente para esta rota.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

